
.header1{
    background-color: black;
    height: 60px;
    width: 100%;
}
.main-menu{
    background-color: white;
    width: 100%;
}
.menu ul li {
    display: inline-block;
    color: burlywood;
}
.menu ul li a {
 color:whitesmoke ;
 text-decoration: thistle;
 font-size: 30px;
 margin: 250px;
}
form{
    width: 250px;

    margin: 0px auto;
    border: black;
}
.login{
    width: 100%;
    margin: 50px auto;
    border: black;
}
label{
    display: block;
    padding: 10px;
    font-size: 10px;
    border: black;
}
input{
    width: 96%;
    padding: 10px;
    border: 1px solid #797979;
    font-size: 20px;
    margin-left: 0px;
    border-radius: 3px;
}
button{
    margin: 75px;
    margin-top: -50px;
    height: 75px;
    padding: 20px;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(90deg,black,rgb(30, 32, 30));
    
}


